#result .inner {
  margin-left: 10px;
  border: none;
}

#result .inner td {
  border: none;
  font-size: 0.8rem;
}

#result .green {
  color: green;
  background-color: khaki;
}

#result .red {
  color: red;
  background-color: khaki;
}

#result #resultTable {
  margin-bottom: 20px;
}