#resultTable {
  width: 100%;
}

#resultTable,
#resultTable td,
#resultTable th {
  border: 1px solid saddlebrown;
  border-collapse: collapse;
}

#resultTable td,
#resultTable th {
  padding: 5px;
}

.jsonBlock {
  margin-top: 10px;
  border: 1px solid saddlebrown;
  padding: 5px;
}

#result {
  margin-top: 40px;
}

.highlight {
  color: red;
}