.settingsPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}

.inputPair {
  position: relative;
  margin: 10px;
}

.inputPair label {
  width: 20%;
  min-width: 175px;
  display: inline-block;
}

.inputPair input {
  width: 80%;
  max-width: calc(100% - 175px);
  position: absolute;
  right: 0;
}

.settings {
  margin-bottom: 10px;
}